* {
    box-sizing: border-box;
}

body {
	background: url("../img/field-sm.jpg") no-repeat center fixed;
	background-size: cover;
	position: relative;
	font-family: arial;
	color: DarkSlateGrey;
	vertical-align: baseline;
}

#container {
	background-color: rgba(256, 256, 256, 0.7);
	width: 80%;
	max-width: 600px;
	min-height: 300px;
	margin: 10% auto auto auto;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
}

#container div {
	margin: 5px 0px;
}

#location {
	font-size: 30px;
}

#temp {
	display: inline;
	font-size: 50px;
}

#tempUnit {
	cursor: pointer;
	color: blue;
	display: inline;
	font-size: 50px;
}
#tempUnit:hover {
	color: MidnightBlue;
}

#today {
	display: inline;
	font-size: 12px;
}

footer {
	text-align: center;
	color: white;
	font-size: 15px;
}

footer a {
	text-decoration: none;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: white;
}

@media only screen and (min-width: 768px) {
	body {
		background: url("../img/field.jpg") no-repeat center fixed;
		background-size: cover;
	}
	#container {
		margin-top: 15%;
	}
}
